@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-mantle: var(--color-zinc-950);
}

.popover-content {
  @apply bg-accented flex size-full rounded px-3 py-1.5 text-sm select-none;
  box-shadow: 0 0.5rem 1rem rgb(from var(--background-color-accented) r g b / 0.5);
}
.isHovering {
  @apply border border-dashed border-transparent;

  &[data-state="open"] {
    @apply border-primary/50;
  }
}

.search-input-default-size {
  @apply w-full max-w-65;
}

@supports (corner-shape: squircle) {
  .squircle {
    corner-shape: squircle;
    border-radius: 50% !important;
  }
}
